  <div class="row">
  <% @products.each do |product| %>
    <div class="col-sm-4 col-md-3">
      <div class="thumbnail">
      <p><%= image_tag(product.image_url, class: "product_img") %></p>
       <div class="caption">
      <h2><%= product.name %></h2>      
      <p><%= product.description %></p>      
      <p>$<%= product.price %><p>
        <p><%= link_to 'Show', product, class: "btn btn-default navbar-btn" %> | <%= link_to 'Edit', edit_product_path(product), class: "btn btn-default navbar-btn" %> </p> 


  <p> <%= link_to 'Delete', product, method: :delete, data: {confirm: 'Are you sure?' }, class: "btn btn-default navbar-btn" %></p>

      </div>
    </div>
    </div><!-- /col -->
  <% end %>
  </div>