<h1>Listing products</h1>

<div class="container">
  <div class="row">
  <% @products.each do |product| %>
    <div class="col-sm-2 col-md-4">
      <h1><%= product.name %></h1>
      <p><%= image_tag(product.image_url, class: "img-responsive") %><p>
      <p><%= product.description %></p>      
      <p>$<%= product.price %><p>
<!--       <strong>$ 42</strong> -->
    </div><!-- /col -->
    <% end %>
  </div>
</div>


<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Image url</th>
      <th>Price<th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td ><a href="<%= product.image_url %>"> <%= product.image_url %> </a></td>
        <td><%= product.price %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: {confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<p><button><%= link_to 'New Product', new_product_path %> &raquo;</button><p>


