<p id="notice"><%= notice %></p>

<div id="product_info"><p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @product.image_url %>
</p>
</div>

<p><button><%= link_to 'Edit', edit_product_path(@product) %></button> |
<button><%= link_to 'Back', products_path %></button></p>
