<div class="container">
 <p id="notice"><%= notice %></p>

 <h1>Product Information</h1>
 <div class="row">
   <div class="col-sm-2 col-md-4" id="product_info">
   	<p><%= image_tag(@product.image_url, class: "product_img") %></p>
   	<h3>
      <span class="glyphicon glyphicon-leaf"></span> Name:
      <small><%= @product.name %></small>
    </h3>

    <h3>
      <span class="glyphicon glyphicon-menu-hamburger"></span> Description:<small><%= @product.description %></small>
    </h3>

    <h3>
      <span class="glyphicon glyphicon-tag"></span> Price:
      <small>$<%= @product.price %></small>
    </h3>

   <h3>Average Rating: <div class="rated" data-score="<%= @product.average_rating %>"></div> </h3>

   </div>
  </div>

  <%= render 'comments/new_comment' %>

  <%= render 'comments' %>

<br>

  <div class="buttons"
   <p><%= link_to 'Edit', edit_product_path(@product), class: "btn btn-default navbar-btn" %> |
   <%= link_to'Back', products_path, class: "btn btn-default navbar-btn" %></p>
  </div>

 
</div>


